
#Created by Constraints Editor (xc6vlx130t-ff1156-1) - 2014/10/15
NET "GT_REFCLK1_1" TNM_NET = GT_REFCLK1_1;
TIMESPEC TS_GT_REFCLK1_1 = PERIOD "GT_REFCLK1_1" 8 ns HIGH 50%;
NET "GT_REFCLK1_2" TNM_NET = GT_REFCLK1_2;
TIMESPEC TS_GT_REFCLK1_2 = PERIOD "GT_REFCLK1_2" TS_GT_REFCLK1_1 HIGH 50%;
NET "INIT_CLK_1" TNM_NET = INIT_CLK_1;
TIMESPEC TS_INIT_CLK_1 = PERIOD "INIT_CLK_1" 16 ns HIGH 50%;
NET "INIT_CLK_2" TNM_NET = INIT_CLK_2;
TIMESPEC TS_INIT_CLK_2 = PERIOD "INIT_CLK_2" TS_INIT_CLK_1 HIGH 50%;
NET "test_mod_1/aurora_i/tx_out_clk_i" TNM_NET = test_mod_1/aurora_i/tx_out_clk_i;
NET "test_mod_2/aurora_i/tx_out_clk_i" TNM_NET = test_mod_2/aurora_i/tx_out_clk_i;
